<section class="container-fluid">
    <form onsubmit="return addMessage(this)" class="form-group d-flex flex-column justify-content-center align-items-center">
        <input class='form-control bg-dark text-light w-50 my-1' type="text" id="author" placeholder="Autor">
        <input class='form-control bg-dark text-light w-50 my-1' type="text" id="text" placeholder="Mensaje">
        <button class="btn btn-outline-light w-25 my-1" type="submit">Enviar mensaje</button>
    </form>
</section>